* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  background: url(../imgs/rayal-bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section {
  width: 35%;
  height: 95%;
  background: #0d394e;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main-section .main-div-in {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.main-section .up-div-in {
  height: 40%;
  background: url(../imgs/hotel.jpg);
  background-size: cover;
}
.main-section .up-div-in .up-in-in {
  width: 50%;
  height: 100%;
}
.main-section .up-div-in .up-in-right {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 7px;
  color: #e8e8e8;
  align-items: end;
  background: rgba(13, 57, 78, 0.7725490196);
  padding-bottom: 3rem;
  padding-right: 20px;
}
.main-section .up-div-in .up-in-right .right {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  gap: 4px;
}
.main-section .up-div-in .up-in-right .right .use-this {
  width: 100px;
  height: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-section .up-div-in .up-in-right .right .royal {
  color: #d2af5d;
  font-size: 27px;
}
.main-section .up-div-in .up-in-right .right .luxury {
  font-size: 30px;
}
.main-section .up-div-in .up-in-right .right .p-royal {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 12px;
}
.main-section .up-div-in .up-in-right .right .logo {
  width: 130px;
  width: 110px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-section .down-div-in {
  height: 53%;
  background: #e8e8e8;
  position: absolute;
  border-top-left-radius: 40px;
  bottom: 5%;
  left: 0%;
  position: relative;
}
.main-section .down-div-in .in-absolute {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: absolute;
  bottom: 7%;
}
.main-section .down-div-in .in-absolute p {
  color: #e8e8e8;
  font-weight: bolder;
  font-size: 15px;
}
.main-section .down-div-in .in-absolute .number {
  padding: 3px 10px;
  background: #d2af5d;
  border-radius: 10px;
}
.main-section .down-div-in .in-absolute .regular {
  padding: 3px 10px;
  background: #0d394e;
  border-radius: 10px;
}
.main-section .down-div-in .down-nav {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}
.main-section .down-div-in .down-nav .about {
  width: 100%;
  color: #0d394e;
  display: flex;
  font-size: 15px;
}
.main-section .down-div-in .down-nav .down-nav-n-left-down {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.main-section .down-div-in .down-nav .down-nav-n-left-down .under-form {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.main-section .down-div-in .down-nav .down-nav-n-left-down .under-form .udner-form-ind {
  width: 50%;
  height: 100%;
}
.main-section .down-div-in .down-nav .down-nav-n-left-down .under-form .udner-form-ind .under-form-in-left {
  width: 60%;
  height: 100%;
}
.main-section .down-div-in .down-nav .down-nav-n-left-down .under-form .udner-form-ind .under-form-in-right {
  width: 40%;
  height: 100%;
}
.main-section .down-div-in .down-nav .down-nav-n-left-down form {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
}
.main-section .down-div-in .down-nav .down-nav-n-left-down form .form-div {
  width: 50%;
  height: 100%;
  display: flex;
  gap: 3px;
  flex-direction: row;
}
.main-section .down-div-in .down-nav .down-nav-n-left-down form .form-div .checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.main-section .down-div-in .down-nav .down-nav-n-left-down form .form-div .checkbox label {
  font-size: 12px;
}
.main-section .down-div-in .down-nav .down-nav-in-left-up {
  padding-top: 10px;
  padding-bottom: 1px;
  display: flex;
  align-items: start;
  justify-content: center;
  padding-left: 30px;
}
.main-section .down-div-in .down-nav .down-nav-in-left-up .lorem {
  color: black;
}
.main-section .down-div-in .down-nav .down-nav-in {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.main-section .down-div-in .down-nav .down-nav-in .down-img {
  width: 200px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  border: 3px solid #e8e8e8;
  position: absolute;
  bottom: 10%;
}
.main-section .down-div-in .down-nav .down-nav-in .img-sec {
  border: 4px solid #0d394e;
}
.main-section footer {
  width: 35%;
  height: 12%;
  position: fixed;
  bottom: 2%;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.main-section footer .footer-in {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}
.main-section footer .footer-a {
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.main-section footer .footer-a .p-center {
  font-weight: bolder;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-section footer .left {
  width: 35%;
  height: 100%;
  background: #d2af5d;
  color: #0d394e;
  border-bottom-right-radius: 50px;
}
.main-section footer .right {
  width: 75%;
  height: 100%;
  color: #0d394e;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-section footer .right .linee {
  width: 85%;
  height: 1px;
  background-color: #d2af5d;
}
.main-section footer .footer-b {
  height: 50%;
  color: aqua;
}
.main-section footer .footer-b .b-nav {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  color: #e8e8e8;
}
.main-section footer .footer-b .b-nav-left {
  flex-direction: row;
}
.main-section footer .footer-b .b-nav-left h2 {
  width: 100%;
  padding-left: 30px;
  font-size: 20px;
}
.main-section footer .footer-b .b-nav-right {
  width: 100%;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
}
.main-section footer .footer-c {
  height: 20%;
  background: #052d37;
}

@media (max-width: 768px) {
  .main-section {
    width: 100%;
    height: 100%;
  }
  .main-section footer {
    width: 100%;
    bottom: 0%;
  }
  .main-section footer .footer-b .b-nav-left h2 {
    font-size: 23px;
    padding-left: 60px;
  }
  .main-section footer .footer-a .p-center {
    font-size: 22px;
  }
  .main-section .down-div-in {
    position: none;
  }
  .main-section .down-div-in .down-nav {
    gap: 0px;
    padding: 0px;
  }
  .main-section .down-div-in .down-nav .down-nav-n-left-down form .form-div {
    width: 100%;
  }
  .main-section .down-div-in .down-nav .down-nav-n-left-down form .form-div .checkbox {
    gap: 5px;
  }
  .main-section .down-div-in .down-nav .down-nav-n-left-down form .form-div .checkbox label {
    font-size: 15px;
    font-weight: bolder;
  }
  .main-section .down-div-in .down-nav .about {
    font-size: 25px;
  }
  .main-section .down-div-in .down-nav .down-nav-in {
    position: none;
  }
  .main-section .down-div-in .down-nav .down-nav-in .in-absolute .regular {
    font-size: 20px;
  }
  .main-section .down-div-in .down-nav .down-nav-in .in-absolute p {
    font-size: 20px;
  }
  .main-section .down-div-in .down-nav .down-nav-in .down-img {
    position: none;
    width: 300px;
    height: 200px;
  }
  .main-section .main-div-in .up-in-in {
    display: none;
  }
  .main-section .main-div-in .up-in-right {
    display: block;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(13, 57, 78, 0.4901960784);
    padding-bottom: 0rem;
    padding: 3rem;
    border-bottom-right-radius: 1000rem;
    border-bottom-left-radius: 1000rem;
  }
  .main-section .main-div-in .up-in-right .right {
    align-items: center;
    justify-content: center;
  }
  .main-section .main-div-in .up-in-right .right .logo {
    width: 130px;
  }
  .main-section .main-div-in .up-in-right .right .royal {
    font-size: 40px;
  }
  .main-section .main-div-in .up-in-right .right .luxury {
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  .main-section .down-div-in {
    background: none;
  }
  .main-section footer {
    height: 10%;
    position: none;
  }
  .main-section footer .footer-b .b-nav-left h2 {
    font-size: 17px;
    padding-left: 20px;
  }
  .main-section footer .footer-a .p-center {
    font-size: 15px;
  }
  .main-section .down-div-in {
    height: 60%;
    flex-direction: column;
  }
  .main-section .down-div-in .down-nav-rittt {
    flex-direction: row;
    height: 20%;
  }
  .main-section .down-div-in .down-nav {
    width: 100%;
    height: 50%;
  }
  .main-section .down-div-in .down-nav .down-nav-n-left-down {
    padding-left: 10px;
  }
  .main-section .down-div-in .down-nav .down-nav-n-left-down form {
    gap: 10px;
  }
  .main-section .down-div-in .down-nav .down-nav-n-left-down form .form-div {
    gap: 5px;
  }
  .main-section .down-div-in .down-nav .down-nav-n-left-down form .form-div .checkbox label {
    font-size: 17px;
    color: #e8e8e8;
  }
  .main-section .down-div-in .down-nav .about {
    padding-left: 1rem;
    color: #e8e8e8;
  }
  .main-section .down-div-in .down-nav .about-pad {
    padding-left: 4rem;
    padding-top: 2rem;
  }
  .main-section .down-div-in .down-nav .down-nav-in {
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .main-section .down-div-in .down-nav .down-nav-in-left-up {
    display: none;
  }
  .main-section .down-div-in .down-nav .down-nav-in .in-absolute .regular {
    font-size: 15px;
  }
  .main-section .down-div-in .down-nav .down-nav-in .down-img {
    width: 170px;
    height: 100px;
    position: none;
    bottom: 20%;
    border: 2px solid rgba(0, 0, 0, 0.593);
  }
  .main-section .main-div-in .up-in-right {
    padding: 15px;
  }
  .main-section .up-div-in {
    height: 35%;
  }
  .main-section .up-div-in .up-in-right {
    padding-top: 25px;
  }
  .main-section .up-div-in .up-in-right .right {
    justify-content: left;
  }
  .main-section .up-div-in .up-in-right .right .royal {
    font-size: 23px;
  }
  .main-section .up-div-in .up-in-right .right .luxury {
    font-size: 24px;
  }
  .main-section .up-div-in .up-in-right .right .p-royal {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */